@{
    ViewData["Title"] = "Home Page";
}

<!-- banner-section start -->
<section class="banner-section">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <div class="top-area section-text justify-content-center">
                                <h4 class="sub-title">Simple. Transparent. Secure</h4>
                                <h1 class="title">Banking Solutions</h1>
                                <p class="xlr">Products and services designed to help you reach your financial goals.</p>
                            </div>
                            <div class="bottom-area">
                                <a href="register.html" class="cmn-btn">Open Account</a>
                                <a href="contact.html" class="cmn-btn second">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
